.DS_Store

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

\#*\#

#
*.exe
*.dll
*.a
*.so
*.dylib

#Eclipse
*.cproject
*.project
*.classpath
*.settings

*.log


# executables
fmu
window-sa/window-sa_main
Testing
gtestresults.xml
window/window_main
window/window_test
windowsa-fullgen/windowsa-fullgen_main
